{% extends 'BaseViewAgent/main.jinja2' %}

{% block instructions %}
Generate the plot the user requested as a vega-lite specification.

- The data will be provided separately. Never provide a data field.
- Ensure you use the column names verbatim.
- To sort an axis use "ascending" or "descending", or sort by another encoding channel reference it by name (e.g. `sort: y` or `sort: -y` for descending order).
- Integer columns like year (e.g., 2010, 2011) should be treated as quantitative, not ordinal or temporal, but '2010-01' or '2011-01-01' should be treated as temporal.
{% endblock %}
