[project]
name = "lumen"
channels = ["pyviz/label/dev", "bokeh", "conda-forge"]
platforms = ["linux-64", "osx-arm64", "osx-64", "win-64"]

[tasks]
install = 'python -m pip install --no-deps --disable-pip-version-check -e .'

[activation.env]
PYTHONIOENCODING = "utf-8"

[environments]
test-310 = ["py310", "test-core", "test"]
test-311 = ["py311", "test-core", "test"]
test-312 = ["py312", "test-core", "test"]
test-core = ["py312", "test-core"]
docs = ["py311", "doc"]
build = ["py311", "build"]
lint = ["py311", "lint"]

[dependencies]
bokeh = "*"
holoviews = ">=1.17.0"
hvplot = "*"
intake = "<2"
jinja2 = ">3.0"
numpy = "*"
packaging = "*"
pandas = "*"
panel = ">=1.5.0"
param = ">=1.9.0"
pip = "*"

[feature.py310.dependencies]
python = "3.10.*"

[feature.py311.dependencies]
python = "3.11.*"

[feature.py312.dependencies]
python = "3.12.*"

# =============================================
# =================== TESTS ===================
# =============================================
[feature.test-core.dependencies]
psutil = "*"
pytest = "*"
pytest-cov = "*"
pytest-github-actions-annotate-failures = "*"
pytest-rerunfailures = "*"
pytest-xdist = "*"
pytest-asyncio = "*"

[feature.test-core.tasks]
test-unit = 'pytest lumen/tests -n logical --dist loadgroup'

[feature.test.dependencies]
dask-core = "*"
fastparquet = "*"
matplotlib-base = ">=3.4" # Ubuntu + Python 3.9 installs old version matplotlib (3.3.2)
msgpack-python = "*"
toolz = "*"
# sql
intake-sql = "*"
python-duckdb = "*"
sqlalchemy = "*"
# ai
datashader = "*"
duckdb = "*"
instructor = ">=1.4.3"
nbformat = "*"
openai = "*"
pyarrow = "*"
pydantic = ">=2.8.0"
pydantic_extra_types = "*"

[feature.test.pypi-dependencies]
pydantic_extra_types = "*"

# [feature.ai.dependencies]
# datashader = "*"
# python-duckdb = "*"
# instructor = ">=1.4.3"
# nbformat = "*"
# openai = "*"
# pyarrow = "*"
# pydantic = ">=2.8.0"
#

# [feature.ai-local.dependencies]
# huggingface_hub = "*"
#
# [feature.ai-llama.dependencies]
# llama-cpp-python = "*"

# =============================================
# =================== DOCS ====================
# =============================================
[feature.doc.dependencies]
nbsite = ">=0.8.4,<0.9.0"

[feature.doc.tasks]
_docs-refs = 'python doc/generate_reference.py'
_docs-generate = 'nbsite build --what=html --output=builtdocs --org holoviz --project-name lumen'
[feature.doc.tasks.docs-build]
depends_on = ['_docs-refs', '_docs-generate']

# =============================================
# ================== BUILD ====================
# =============================================
[feature.build.dependencies]
python-build = "*"
conda-build = "*"

[feature.build.tasks]
build-conda = 'bash scripts/conda/build.sh'
build-pip = 'python -m build .'

# =============================================
# =================== LINT ====================
# =============================================
[feature.lint.dependencies]
pre-commit = "*"

[feature.lint.tasks]
lint = 'pre-commit run --all-files'
lint-install = 'pre-commit install'
