Based on the latest user's query, is the table relevant?
Does it contain all the necessary columns?
Return is_invalid=True if not; else return is_invalid=False.

### Current Table:
```
{{ table }}
```

### Current Columns:
```
{{ columns }}
```
