Based on the latest user's query, decide whether the
current table and columns contain all the required info to
provide a reliable, accurate answer to the user's query.
Return `is_invalid=True` if not; else return `is_invalid=False`.

### Current Table:
```
{{ table }}
```

### Current Columns:
```
{{ columns }}
```
