{% extends 'Agent/main.jinja2' %}

{% block instructions %}
Assess if the user's prompt requires loading data. If the inquiry is just about available tables, no data access
required. However, if relevant tables apply to the query, load the data for a more accurate and up-to-date response.
{% endblock %}

{% block context %}
Here are the available tables:
{{ tables_schema_str }}
{% endblock %}
