{% extends 'Agent/main.jinja2' %}

{% block context %}
Available visualization types:
{{ doc }}

The current SQL
```sql
{{ memory['sql'] }}
```

{% if "view" in memory %}
The previous view specification was:
```
{{ memory["view"] }}
```
{% endif %}

{{ memory["tables_sql_context"] }}
{% endblock %}
