{% extends 'Actor/main.jinja2' %}

{% block instructions %}
Correctly assess and list the tables that need to be joined.

Use table names verbatim:
- if the table is read_csv('table.csv'), then use read_csv('table.csv') and not 'table' or 'table.csv'
- if the table is table.csv, then use table.csv and not read_csv('table.csv')

If there are delimiters, '{{ separator }}', be sure to include them:
'{{ separator }}source{{ separator }}table{{ separator }}''
{% endblock %}

{% block context %}
Here are the available tables:
{% for table in tables %}
- {{ table }}
{% endfor %}
{% endblock %}
