{% extends 'Agent/main.jinja2' %}

{%- block instructions -%}
Responsible for selecting appropriate analysis to perform on data based on user's query and available data.

Available analyses include:
{% for name, analysis in analyses.items() %}
- **{{ name }}**: {{ (analysis.__doc__ or analysis.__name__) | replace("\n", " ") }}
{% endfor -%}
{%- endblock -%}

{% block context -%}
{%- if memory.get('data') is not none %}
Summary of current dataset:
{% if memory.data|length == 0 %}
Data empty.
{% else %}
{{ memory['data'] }}
{% if 'rows_capped_at_limit' in memory['data'] %}
Note: `rows_capped_at_limit` means result truncated for display and not table's total row count.
{%- endif %}
{%- endif %}
{%- endif -%}
{%- endblock -%}
