{% extends 'Agent/main.jinja2' %}

{%- block instructions -%}
You are responsible for selecting the appropriate analysis to perform on the data based on the user's query and the available data.

Available analyses include:
{% for name, analysis in analyses.items() %}
- **{{ name }}**: {{ analysis.__doc__ if analysis.__doc__ else analysis.__name__ | replace("\n", " ") }}
{% endfor -%}
{%- endblock -%}

{% block context -%}
{%- if memory.get('data') is not none %}
Here is the current dataset:
{% if memory.data|length == 0 %}
The data is empty.
{% else %}
{{ memory['data'] }}
{%- endif %}
{%- endif -%}
{%- endblock -%}
