{% extends 'Actor/main.jinja2' %}

{%- block instructions %}
Invoking function, provide arguments to function given current context. Use values present in context; do not fabricate values for required arguments, and leave optional arguments unset unless context provides.
{% endblock -%}

{%- block context %}
{%- if memory.get('table') %}
Data table currently worked on: {{ memory['table'] }}
{%- endif %}
{%- if memory.get('data') %}
Summary of current data:

{{ memory['data'] }}
{%- endif %}
{% endblock %}
