name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
    - '*'
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * SUN'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: 'ubuntu-latest'
    steps:
      - uses: holoviz-dev/holoviz_tasks/pre-commit@v0
  unit_test_suite:
    name: Pytest on ${{ matrix.python-version }}, ${{ matrix.os }}
    needs: [pre_commit]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ${{ ( github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || ( github.event_name == 'push' && github.ref_type == 'tag' ) ) && fromJSON('["3.9", "3.10", "3.11"]') || fromJSON('["3.9", "3.10", "3.11"]') }}
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: holoviz-dev/holoviz_tasks/install@v0
        with:
          name: unit_test_suite
          python-version: ${{ matrix.python-version }}
          channel-priority: flexible
          channels: pyviz/label/dev,bokeh,conda-forge,nodefaults
          envs: -o tests -o sql -o tests_ci
          cache: true
        id: install
      - name: doit test_unit
        run: |
          conda activate test-environment
          doit test_unit
      - name: codecov
        run: |
          conda activate test-environment
          codecov
  core_test_suite:
    name: Core tests on Python ${{ matrix.python-version }}, ${{ matrix.os }}
    needs: [pre_commit]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.12']
    timeout-minutes: 120
    defaults:
      run:
        shell: bash -el {0}
    env:
      DESC: "Python ${{ matrix.python-version }}, ${{ matrix.os }} core tests"
      PYTHON_VERSION: ${{ matrix.python-version }}
    steps:
      # Add back when this works on Python 3.12
      # - uses: holoviz-dev/holoviz_tasks/install@v0
      #   with:
      #     name: core_test_suite
      #     python-version: ${{ matrix.python-version }}
      #     # channel-priority: strict
      #     channels: pyviz/label/dev,conda-forge,nodefaults
      #     envs: "-o tests_core -o tests_ci"
      #     cache: true
      #     conda-update: true
      #     id: install
      - uses: actions/checkout@v3
        with:
          fetch-depth: "100"
      - name: Fetch unshallow
        run: git fetch --prune --tags --unshallow -f
      - uses: actions/setup-python@v4
        with:
          python-version: 3.12
      - run: |
          python -m pip install -ve '.[tests, tests_ci]'
      - name: doit test_unit
        run: |
          # conda activate test-environment
          pytest lumen
