{%- block instructions -%}
{%- endblock -%}

{%- block context -%}
{%- endblock %}

{% block tools -%}
{%- if 'tools_context' in memory %}
{#- Context from Coordinator.tools -#}
{% for key, value in memory["tools_context"].items() %}
`{{ key }}`: {{ value }}
{% endfor %}
{% endif -%}
{%- endblock -%}

{%- block examples -%}
{%- endblock -%}
